DATABASE_URL=jdbc:postgresql://localhost:3452/dqul
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_DRIVER=org.postgresql.Driver

# JWT configuration
JWT_SECRET_KEY=TXlTdXBlclNlY3JldEtleUZvckpXVDIwMjZJc1RoaXNMb25nRW5vdWdoRm9ySFMyNTY=
JWT_EXPIRATION_TIME=86400000



MINIO_ROOT_USER=minioadmin
MINIO_UI_PORT=21002
MINIO_API_PORT=21001
MINIO_ENDPOINT=http://localhost:21001
MINIO_ROOT_PASSWORD=minioadmin123